
##############################
## Java
##############################
.mtj.tmp/
*.war
*.ear
*.nar
hs_err_pid*
*.class

##############################
## Maven
##############################
target/

##############################
## OS X
##############################
.DS_Store

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
/GEMINI.md
